# Neo4j
NEO4J_SCHEME=neo4j
NEO4J_HOST=neo4j
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=neo

# Core Service
CORE_SERVICE_PORT=8005
CORE_SERVICE_HOST=localhost
JWT_KEY=abc123
LOG_LEVEL=error

# Authentication
#GOOGLE_CLIENT_ID="541601037709-7ne55m0tmtapuloegmhm6h4h3uom8l8o.apps.googleusercontent.com"
#GOOGLE_CLIENT_SECRET="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"
#GOOGLE_CALLBACK_URL="http://localhost:8005/api/auth/google/callback"

# Client (Next.js)
NEXT_PUBLIC_CORE_SERVICE_PORT=${CORE_SERVICE_PORT}
NEXT_PUBLIC_CORE_SERVICE_HOST=${CORE_SERVICE_HOST}
NEXT_PUBLIC_PORT=3000
NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_VERSION=1.0.0
#NEXT_PUBLIC_GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
#NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
#NEXT_PUBLIC_GOOGLE_CALLBACK_URL=${GOOGLE_CALLBACK_URL}

NODE_ENV=development
